# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
venv/pip-selfcheck.json
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/activate_this.py
venv/bin/easy_install
venv/bin/easy_install-2.7
venv/bin/gunicorn
venv/bin/gunicorn_django
venv/bin/gunicorn_paster
venv/bin/pip
venv/bin/pip2
venv/bin/pip2.7
venv/bin/python
venv/bin/python2
venv/bin/python2.7
venv/bin/wheel
venv/include/python2.7
